<app-header></app-header>

<main>
  <app-icones></app-icones>
  <app-experience></app-experience>

  <!-- Projetos  -->
  @defer (on viewport ) {
    <app-projects></app-projects>
  } @placeholder(minimum 500ms) {
    <section>
      <h2><img src="/assets/img/loading.gif" width="20px" height="20px" alt="Gif de carregando..."> Carregando...</h2>
    </section>
  } @error {
    <section>
      <h2>Erro! Não foi possível carregar os projetos, tente novamente...</h2>
    </section>
  }
  <!-- End | Projetos -->

</main>
