.container {
  width: 700px;
  position: relative;
  box-sizing: border-box;   // Serve para quebrar o conteúdo, exemplo um paragrafo, dentro do container. Assim, ele não vai estourar dentro da div.
}

@media(max-width: 750px){
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
